h1::after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background: rebeccapurple;
    margin-top: 6px;
    border-radius: 20px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
}

.school, .certification, .nocertificates{
    text-align: left;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.educationHeader::after{
    content: "";
    display: block;
    width: 110px;
    height: 4px;
    background: rebeccapurple;
    margin-top: 6px;
    border-radius: 20px;
    margin: 0 auto;
}
