.contacth3::after{
    content: "";
    display: block;
    width: 325px;
    height: 4px;
    background: rebeccapurple;
    margin-top: 6px;
    border-radius: 20px;
    margin: 0 auto;
}

.inputfield{
    margin: 0 auto;
}

.inputfield input{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 7px;
    width: 200px;
}

.inputfield textarea{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    border-radius: 6px;
    margin-bottom: 10px;

   
}

.inputfield button{
    background-color:rebeccapurple ;
    width: 70px;
    border-radius: 6px;
    padding: 5px;
    color: aliceblue;
}