div {
    align-items: center;
    text-align: center;
}

.myprofile {
    width: 200px;
    height: auto;
    border-radius: 100px;
    border: 6px solid rebeccapurple;
}

.button {
    display: block;
    width: 150px;
    margin:0 auto;
    margin-top: 20px;
    background-color:rebeccapurple;
    color: aliceblue;
    padding: 6px;
    border-radius: 20px;
}

.button:hover{
    font-size: 20px;
}

.buttonLink{
    text-decoration: none;
    color: white;
}

.favicon {
    margin-top: 20px;    
}
.favicon img {
    height: 60px;
    width: 60px;
}