.navbar {
    background-color: rgba(43, 5, 180, 0.377);
    display: flex;
    align-items: center; 
    gap: 10rem;
    height: 60px;
}

@media screen and (max-width:768px){
    .navbar{
        gap: 3rem;
    }
}

@media screen and (max-width:900px ){
    .navbar{
        gap: 5rem;
    }
}

.navlink {
    display: inline;
}

.profileLogo {
    margin-left: 15rem;
    font-family: Cursive;
    font-size: 2rem;
}

@media only screen and  (max-width: 768px){
    .profileLogo {
        margin-left: 10px;
        font-size:25px;
        font-family: Cursive;
    }
}

.routelink {
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

@media only screen and (max-width:768px){
    .routelink{
        margin-right: 5px;
    }
}

.routelink:hover {
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}

.routelink:active {
    color:rgb(19, 151, 19);
    font-weight: bold;
    font-size: 20px;
}